$color-green: #265B65;
$color-peach: #F38264;
$color-yellow: #F2CC67;
$color-black: #000;
$color-white: #FFF;
$color-grey: #EEE;
$color-grey-dark: #666;
$color-highlight: #FFE8CA;

$header-background: $color-green;

$btn-primary-background: $color-yellow;
$btn-primary-color: #F1F1F1;

$btn-secondary-background: $color-peach;
$btn-secondary-color: #F1F1F1;
